[Desktop Entry]
Name=jewels
Comment=Jewels Inventory Desktop Client Collection
Version=2.0.0
Exec=jewels collect
Icon=dev.imanuel.jewels
Type=Application
Terminal=false
Categories=System;
NoDisplay=true